<a href="{{ path('blog_show', {'slug': 'my-blog-post'}) }}">
    Read this blog post.
</a>

<a href="{{ url('blog_show', {'slug': 'my-blog-post'}) }}">
    Read this blog post.
</a>

TEMPLATING GOTO P72